 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 55px auto 0;
  padding: 9px 336px 11px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 55px auto 60px;
  padding: 9px 338px 11px 337px;
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    padding-right: 302px;
    padding-left: 300px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 54px;
    padding: 10px 302px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 211px;
    padding-left: 211px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 213px;
    padding-left: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    padding-right: 111px;
    padding-left: 111px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 113px;
    padding-left: 111px;
  }
}