 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/home.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  height: 508px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.65);
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -490px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-image-1 {
    height: 624px;
    margin-top: -20px;
    object-position: 100% 50%;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -567px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 0% 100%;
    background-size: 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }
}